.navbar-brand {
    margin-left: 50px;
}

.navbar-nav {
    margin-right: 50px;
}

#content {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

#room-name{
    margin-bottom: 20px;
}

#chat-content {
    height: 500px;
    width: 1200px;
    text-align: center;
}

#chat-room {
    display: inline-block;
    overflow: auto;
}

#chat-rooms-sidebar {
    height: 100%;
    width: 300px;
    padding: 20px;
	overflow-y: scroll;
    background-color: white;
    display: inline-block;
    border-style: ridge;
    border-width: thin;
    border-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#chat-messages {
    height: 450px;
    max-height: 450px;
    width: 800px;
    padding: 30px;
	overflow-y: scroll;
    background-color: white;
    border-style: ridge;
    border-width: thin;
}

.message-box {
    width: fit-content;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.self-sent {
    float: right;
    clear: both; 
}

.others-sent {
    float: left;
    clear: both; 
}

.message-text {
    padding: 10px;
    font-size: 15px;
    max-width: 400px;
    min-height: 40px;
    border-radius: 15px;
    display: block;
}

#chat-form form input:focus {
    outline:none!important;
}

.self-text {
    background-color: rgb(173, 255, 162);
}

.others-text {
    background-color: rgb(231, 231, 231);
}

.message-time {
    display: block;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
}

#chat-form {
    height: 50px;
    max-height: 50px;
    width: 800px;
    padding-top: 10px;
    background-color: white;
    border-style: ridge;
    border-width: thin;
    border-top: 0;
}

body::-webkit-scrollbar {
    display: none;    
}

#chat-messages::-webkit-scrollbar {
    display: none;    
}

#chat-rooms-sidebar::-webkit-scrollbar {
    display: none;    
}

.room-sidebar {
    border-bottom: ridge;
    border-width: thin;
}

.room-sidebar:hover {
    background-color: rgb(246, 246, 246);
}

.room-sidebar a {
    color: inherit;
}

.room-sidebar a:hover {
    color: inherit;
    text-decoration: none;
}

.error {
    color: green;
    font-size: medium;
    margin-bottom: 10px;
}

.validation {
    height: 10px;
    padding-top: 3px;
    font-size: small;
    color: green;
}
